body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    background: rgba(18, 18, 19, 0.959) url("imagens/aatrox.png") no-repeat top center;
    background-size: cover; 
}
header{
    color: white;
}
section{
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    margin: auto;
    max-width: 580px;
    box-shadow: 3px 3px 5px rgba(3, 3, 3, 0.623);
}

.w-list-items__media{
    display: inline-block;
    margin: 5px;
}

div:last-child div img{
    display: block ;
}

div:last-child div img:hover{
    border-style:solid;
}
span{
    font-size: 12px;
}
footer{
    color: white;
    margin-top: 10px;
    font-style: italic;
}
.icon{
    float: right;
    margin: 10px;
}

section p{
    margin: 5px 5px;
}

a#github{
    text-decoration: none; 
    color:white;
}
a#github:hover{
    text-decoration: underline;
    color: rgb(218, 214, 214);
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    color: rgb(121, 2, 2);
    text-decoration: underline;
}

footer{
    text-align: center;
}

iframe{
    width:580px;
    height:315px;
}

.container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive{
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
